body, h1 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 600;
}

.intro {
  margin: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  color: #333;
}

.intro img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: .4rem solid white;
  box-shadow: 0 0 15px pink;
}

@media (min-width: 724px) {
  .intro {
    margin: 20px auto;
    max-width: 684px;
    flex-flow: row nowrap;
  }
}
